* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
@font-face {
  font-family: "myFont";
  src: url("./font/UcCo3FwrK3iLTcviYwY.woff2");
}
@font-face {
  font-family: "myFont-H";
  src: url("./font/2V0PKIcADoYhV6w87xrTKjs4CYElh_VS9YA4TlTnaTq9wQ.woff2");
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 40px 150px;
}
.basic-box1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  background-image: url("./pic/pattern-glow.svg");
}
.box-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.left-box1 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 50%;
}
.content-box1 {
  font-size: 62px;
  font-family: "myFont-H";
  background: linear-gradient(107deg, #ff9a60 -11.37%, #062630 61.84%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.content-box2 {
  font-family: "myFont";
  color: #385159;
  font-size: 20px;
}
.button1 {
  display: flex;
  gap: 15px;
  padding: 15px;
  font-size: 15px;
  border: 2px solid black;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  width: fit-content;
  font-family: "myFont-H";
  font-weight: bold;
  background-color: #fff5ef;
}
.arrow-down {
  width: 30px;
  height: fit-content;
}
.star-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.img-box2 {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}
.right-box1 {
  width: 50%;
  height: 50%;
}
