* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
@font-face {
  font-family: "myFont";
  src: url("./font/UcCo3FwrK3iLTcviYwY.woff2");
}
@font-face {
  font-family: "myFont-H";
  src: url("./font/2V0PKIcADoYhV6w87xrTKjs4CYElh_VS9YA4TlTnaTq9wQ.woff2");
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
  margin: 40px 150px;
  background-color: white;
}
.basic-box1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  gap: 20px;
  background-color: #faf5f3;
  background-image: url("./pic/pattern-glow.svg");
}
.box-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.left-box1 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 50%;
}
.text-box1 {
  font-size: 62px;
  font-family: "myFont-H";
  background: linear-gradient(107deg, #ff9a60 -11.37%, #062630 61.84%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.content-box1 {
  font-family: "myFont";
  color: #385159;
  font-size: 20px;
}
.button1 {
  display: flex;
  gap: 15px;
  padding: 15px;
  font-size: 15px;
  border: 2px solid black;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  width: fit-content;
  font-family: "myFont-H";
  font-weight: bold;
  background-color: #fff5ef;
}
.arrow-down {
  width: 30px;
  height: fit-content;
}
.star-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.img-box2 {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}
.img {
  width: 50%;
  height: 50%;
}
.basic-box2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  gap: 80px;
}
.img.image-read-together {
  width: 50%;
  height: 50%;
  border-radius: 15px;
}
.box-2 {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 50%;
}
.text-box2 {
  font-size: 50px;
  font-family: "myFont-H";
  font-weight: bold;
}
.check-list {
  display: flex;
  flex-direction: column;
  width: 90%;
  font-size: 20px;
  color: #385159;
  list-style: url("./pic/icon-check.svg");
  justify-content: center;
  gap: 30px;
  font-family: "myFont";
}
.basic-box3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  gap: 80px;
  width: 100%;
}

.circle {
  position: absolute;
  left: 290px;
  top: 1530px;
  width: 210px;
}
.section3-h {
  display: flex;
  flex-direction: column;
  gap: 80px;
  width: 100%;
}
.text-box3 {
  color: #385159;
  font-size: 20px;
  font-family: "myFont";
}
.logos-tech {
  position: absolute;
  left: 750px;
  top: 1810px;
  width: 130px;
}
.img-not-averege {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}
.text-box4 {
  font-size: 50px;
  font-family: "myFont-H";
  font-weight: bold;
  text-align: center;
}

.basic-box4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 60px;
  width: 100%;
  height: fit-content;
  padding: 110px 100px;
  margin-top: 40px;
  border-radius: 15px;
  background-image: url("./pic/pattern-glow.svg");
  background-color: #faf5f3;
}

.item-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 50px;
  height: fit-content;
}

.items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.item-description {
  font-size: 16px;
  font-weight: bold;
  color: #062630;
  font-family: "myFont-H";
}

.items-text {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.num {
  font-size: 30px;
  /* font-weight: bold; */
  color: #062630;
  border: 2px solid #062630;
  border-radius: 5px;
  padding: 3px 13px;
  font-family: "myFont-H";
}
